<header>
  <h2>NamasteFit</h2>
  <nav class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/plan">Plans</a></li>
      <li><a href="/subscription">Subscription</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    </ul>
  </nav>
</header>
