<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password – NamasteFit</title>
    <link rel="stylesheet" href="/style.css" />
    <script
      src="https://kit.fontawesome.com/bb7a749298.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('partials/nav') %>

    <main class="register-section">
      <h1>Forgot Password</h1>
      <h1>My name is </h1>
        <form class="register-form" action="/reset-password" method="POST">
          <% if(formSubmittted){ %>
        <p>If the email that you given us is correct. We have send email to reset password to your email. </p>
     <% }else{ %>
        <div class="form-group">
          <label for="email">Enter Your Registered Email</label>
          <input type="email" id="email" placeholder="Enter your email" name="email" required />
        </div>

        <% if(msg && msg.length > 0){ %>
        <p class="error"><%= msg %></p>
        <% } %>

        <button type="submit" class="btn">Send Link</button>
      </form>
    <%  } %>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
