<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NamasteFit</title>
    <link rel="stylesheet" href="/style.css" />
    <script
      src="https://kit.fontawesome.com/bb7a749298.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('partials/nav') %>
    <section class="home">
      <div class="content">
        <h1>Welcome to NamasteFit</h1>
        <p>Your journey to a healthier lifestyle starts here.</p>
        <a href="/register"><button class="btn">Join Now</button></a>
      </div>
    </section>
    <hr />

    <div class="section">
      <div class="head">
        <h1>Our Services</h1>
      </div>
      <div class="section-content">
        <div class="sections">
          <img
            src="https://png.pngtree.com/thumb_back/fh260/background/20240329/pngtree-rows-of-dumbbells-in-the-gym-image_15662386.jpg"
            alt="Gym Im"
          />
        </div>
        <div class="sections">
          <div class="sections-text">
            <h1>Fitness Training</h1>
            <p>
              Receive tailor-made fitness programs crafted by certified trainers
              who understand your unique goals, body type, and lifestyle.
              Whether you're aiming to lose weight, build muscle, improve
              endurance, or simply stay active, our experts will guide you every
              step of the way with structured routines, progress tracking, and
              motivational support.
            </p>
          </div>
        </div>
      </div>
      <div class="section-content">
        <div class="sections">
          <div class="sections-text">
            <h1>Yoga Sessions</h1>
            <p>
              Immerse yourself in guided yoga sessions designed to enhance your
              balance, flexibility, and inner calm. Whether you're a beginner
              exploring basic poses or an experienced practitioner deepening
              your flow, our certified instructors lead sessions tailored to all
              skill levels. Each class promotes mindfulness, stress relief, and
              physical wellness—helping you reconnect with your body and mind at
              your own pace.
            </p>
          </div>
        </div>
        <div class="sections">
          <img
            src="https://images.pexels.com/photos/3823063/pexels-photo-3823063.jpeg"
            alt="Yoga Session"
          />
        </div>
      </div>
      <div class="section-content">
        <div class="sections">
          <img
            src="https://images.unsplash.com/photo-1676705656461-5492aa6508a8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="Wellness"
          />
        </div>
        <div class="sections">
          <div class="sections-text">
            <h1>Wellness Coaching</h1>
            <p>
              Gain access to holistic wellness coaching that combines expert
              nutritional guidance with mental health support. Our certified
              coaches help you create balanced meal plans, build sustainable
              eating habits, and develop a healthier relationship with food. At
              the same time, we prioritize your mental well-being through stress
              management techniques, mindfulness practices, and personalized
              wellness check-ins—empowering you to lead a more energized,
              focused, and fulfilling life.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="head">
        <h1>Our Plans</h1>
      </div>
      <div class="section-content">
        <div class="cards">
          <div>
            <img
              src="https://media.istockphoto.com/id/1849345050/photo/personal-instructor-and-athletic-woman-going-through-exercise-plans-in-a-gym.jpg?s=612x612&w=0&k=20&c=iGI2Se15zweVTHt31ENGqeXJlGcagS_XUqMhB_g8mvU="
              alt="free"
            />
          </div>
          <div class="cards-text">
            <h2>Free Plan</h2>
            <ol>
              <li>Ideal for curious beginners</li>
              <li>Limited access to beginner video content</li>
              <li>No downloads or offline access</li>
              <li>No membership card</li>
            </ol>
          </div>
        </div>
        <div class="cards">
          <div>
            <img
              src="https://images.pexels.com/photos/1552249/pexels-photo-1552249.jpeg"
              alt="free"
            />
          </div>
          <div class="cards-text">
            <h2>Basic Plan</h2>
            <ol>
              <li>For fitness enthusiastic starting their journey</li>
              <li>Access to begineer & intermediate workouts</li>
              <li>2 live class per month</li>
              <li>Access of studio at 12:00 PM</li>
            </ol>
          </div>
        </div>
        <div class="cards">
          <div>
            <img
              src="https://images.pexels.com/photos/4753885/pexels-photo-4753885.jpeg"
              alt="free"
            />
          </div>
          <div class="cards-text">
            <h2>Standard Plan</h2>
            <ol>
              <li>Full body wellness experience</li>
              <li>Unlimited access to all video</li>
              <li>Unlimited live classes</li>
              <li>Digital Membership Card</li>
              <li>Access of studio</li>
            </ol>
          </div>
        </div>
        <div class="cards">
          <div>
            <img
              src="https://img.freepik.com/premium-photo/gym-fitness-exercise-active-lifestyle_1198884-23607.jpg"
              alt="free"
            />
          </div>
          <div class="cards-text">
            <h2>Premium Plan</h2>
            <ol start="1">
              <li>Best for long-term commitment</li>
              <li>Free wellness merchandise after 6 months</li>
              <li>Early access to new content</li>
              <li>Anytime access of studio</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="section-content">
        <div class="section-image">
          <img
            src="https://hips.hearstapps.com/hmg-prod/images/gym-workout-66d087d56ef90.jpg?crop=0.628xw:1.00xh;0.100xw,0&resize=1200:*"
            alt="Image"
          />
        </div>
        <div class="sections-text">
          <div class="head about">
            <h1>About Us</h1>
          </div>
          <p>
            At <strong>NamasteFit</strong>, we’re more than just a fitness
            platform — we’re a wellness movement rooted in balance, discipline,
            and community. Founded with the vision of making fitness and yoga
            accessible to everyone, our mission is to guide individuals toward a
            healthier and more fulfilling lifestyle, no matter where they are in
            their journey.
          </p>
          <p>
            With certified trainers, expert yoga instructors, and dedicated
            wellness coaches, we offer personalized programs designed to meet
            your unique goals — from strength training and flexibility to
            mindfulness and nutrition.
          </p>
          <p>
            Whether you're just starting out or looking to deepen your practice,
            NamasteFit provides a supportive space where progress is celebrated
            and well-being is the ultimate goal.
          </p>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="head">
        <h1>Contact Us</h1>
      </div>
      <div class="section-content">
        <div class="contact">
          <div class="card-contact">
            <div>
              <i class="fa-solid fa-phone-volume"></i>
              <h3>Phone Number</h3>
              <p>+977-98*********</p>
            </div>
          </div>
          <div class="card-contact">
            <div>
              <i class="fa-solid fa-envelope"></i>
              <h3>Email</h3>
              <p>admin@gmail.com</p>
              <p>NamasteFit@gmail.com</p>
            </div>
          </div>
          <div class="card-contact">
            <div>
              <i class="fa-solid fa-location-dot"></i>
              <h3>Location</h3>
              <p>Bhaisipati-18, Manjushree Tole, Lalitpur</p>
            </div>
          </div>
          <div class="card-contact">
            <div>
              <i class="fa-solid fa-clock"></i>
              <h3>Open Time</h3>
              <p>Sunday to Friday</p>
              <p>6:00 AM to 9:00 PM</p>
            </div>
          </div>
        </div>
        <div class="section-image">
          <img
            src="https://hips.hearstapps.com/hmg-prod/images/latino-and-african-sport-woman-exercising-and-build-royalty-free-image-1701355323.jpg?crop=0.668xw:1.00xh;0.250xw,0&resize=1200:*"
            alt="Gym"
          />
        </div>
      </div>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
